h1 {
 font-size:34px;
 text-align: center;    
} 

#header {
  height: 35px;
  width: 100%;
  background-color: #336699;
  position: fixed;
  top: 0px;
  z-index: 10;
}

#content-wrapper {
  position: absolute;
  top: 70px;
  bottom: 50px;
  left: 0px;
  right: 0px;
}

#content {
  width: 75%;
  float: right;
  padding-bottom: 50px;
  padding-right: 9%;
  line-height: 2em;    
}

#menu ul li {
 list-style-type: none;  
}  
 
#menu ul ul {
   display:none;
   position: fixed;
}

#menu ul ul a {
}

#menu ul a {
  text-decoration: none;
  color: black;
}

#menu ul li:hover ul {
  display:block;
  left: 0;  
  line-height: 20px;
  width: 170px;
  height: 750px;
  background: #CCC;
  border-top-right-radius:1em;
  border-bottom-right-radius:1em;
  padding-left: 22px;
  text-align: left;
  line-height: 35px;
  padding-top:20px;
  font-size: 14px;
}

#menu-wrap {
   position:fixed;
   top:50px;
   width: 52px;
   height: 22px;
   border-top-right-radius: 6px;
   border-bottom-right-radius:6px;
   background: rgba(181,181,181,0.5);
   text-align: center;
   padding-top: 3px;
   z-index: 0;   
}

ul {padding: 0; margin: 0;} 

body {
 padding:0;
 margin:0;
 background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
}

#codebox {
   border:solid gray;
   border-width:.1em .1em .1em .8em;
   padding:.2em .6em;
}

#footer {
  height: 10px;
  width: 100%;
  background-color: green;
  position: fixed;
  bottom: 0px;
}
